@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-midnight text-gray-200 antialiased font-sans;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-md border border-white/10 rounded-2xl;
  }

  .glass-card {
    @apply bg-white/5 backdrop-blur-sm border border-white/5 rounded-xl hover:bg-white/10 transition-colors duration-300;
  }
}